<li id=attachment_<%= attachment.id %>><%= attachment.filename %>
    <%= link_to_remote "Usuń", :url  => attachment_path(:id => attachment), :method => :delete, :html => { :title  => "Usuń ten załącznik" } %>
</li>