<% if a = right_partial.attachments[0] %>
<%= link_to image_tag(a.public_filename(:right_thumb), :border => '0'), article_url(right_partial.id) %>
<%= link_to right_partial.title, article_url(right_partial.id) %>
<% end %>
<br /> <br />