<div id="main_article">
<%= main_partial -%>
</div>
<div id="right_partial">
  <%= right_partial -%>
</div>
<div id="wyszukiwarka_google">
</div>
<div id="list_articles"><%= list_articles_partial -%></div>
<div id="ten_links"><ul><%= ten_articles_partial -%></ul></div>